*{
    font-size: 30px;
    margin: 5px;
}
div{
    text-align: center;
    margin-top: 50px;
}
p{
    display: inline;
}
input{
    width: 100px;
}
button:hover{
    box-shadow: 0 5px 15px grey;
}
button:active{
    box-shadow: 0 0px 5px grey;
}